@use "tailwindcss";

html,
body {
     @apply bg-black text-white;
}

.bg-main {
    background-image: url('assets/img/bg.webp');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 100% 0%;
    background-size: cover;
    min-height: 100vh;
}